.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/app/debug
android/app/profile
android/app/release
android/key.properties
*.keystore
ios/Pods/
.idea/
.vscode/
*.swp
*.DS_Store
